.CatalogueMap .CatalogueMapContainer {
    width: 750px;
    height: 500px;
    margin: auto;
}

.CatalogueMap .VisibleGeohashes span {
    padding-left: .3em;
}

.CatalogueMap .VisibleTimes {
    line-height: 150%;
}

.CatalogueMap .VisibleTimes span {
    margin-left: .3em;
}

.CatalogueMap .VisibleTimes span.Time {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    background: #567;
    padding: .15em;
    border-radius: .2em;
    line-height: 1;
}

.CatalogueMap .VisibleTimes span.Time:hover {
    background: #789;
}

.CatalogueMap .VisibleTimes span.SelectedDate {
    background: #9ab;
}

.CatalogueMap .Controls {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.CatalogueMap .react-datepicker-wrapper input {
    color: #000;
    max-width: 6em;
    margin-right: 0.5em;
}

.CatalogueMap .DatePickers {
    margin: 0 0 10px;
}


.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}