.RootCatalogue .AvailableDatasets {
    line-height: 150%;
}

.RootCatalogue .AvailableDatasets span {
    margin-left: .3em;
}

.RootCatalogue .AvailableDatasets span.Dataset {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    background: #567;
    padding: .15em;
    border-radius: .2em;
    line-height: 1;
}

.RootCatalogue .AvailableDatasets span.Dataset:hover {
    background: #789;
}

.RootCatalogue .AvailableDatasets span.SelectedDate {
    background: #9ab;
}

.RootCatalogue .Controls {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

