body {
  background-color: #282c34;
}

.App {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App .Explanation { /* Informaiton menu below image*/
  position: relative;
  background:#282c34;
  text-align: left;
  font-size: 20px;
  margin-right: 2%;
  padding: 10px 15px;
}
@media (max-width: 1111px) {
  .App .Explanation {
    width:98%;
    float:left;
    margin-left: 0.5%;
  }
}
@media (min-width: 1111px) {
  .App .Explanation {
    width:54%;
    clear: left;
    margin-left: 2%;
  }
}

.App .Explanation a { /* marked exprs. in informaiton menu*/
  font-size: 20px;
  color: #bbf;
  text-decoration: none;
}

.App .Explanation .CatalogueStructure { /*Spacing in text in information menu*/
  font-family: monospace;
}

.App .Explanation pre {
  font-size: 75%;
}

.App-link {
  color: #61dafb;
}

.App .Explanation .Logo { /*Size of logos*/
  height: 47px;
  margin-left: 16px;
  padding: 5px;
}

.App .Explanation .FMI { /*FMI logo*/
  background: #fff;
}

.App details > summary::-webkit-details-marker {
  display: none;
}